body {
  /*background-image: url('images/diagonal.svg'); /*, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAE4gAAAABCAIAAAC9c9PfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAySURBVGhD7cJBEQAgCAAwzkIkoZbF7EMG3phhu8W5T1VVVVVVVdVvZ6mqqqqqqqq6Zg3oqXEb85utwQAAAABJRU5ErkJggg==");
      */
      background-image: linear-gradient(to right, #0286C3 0vw, #0286C3 50vw, #ee2f4D 50vw, #ee2f4D 100vw);
      background-repeat: no-repeat;
      background-position: center;
      background-size:contain;
      height:95vh;
      color: white;
      text-shadow: 0 0.3vh 1vmin rgba(20, 20, 20, 0.3);
}

#logo_images {display:none;}
#registration {
  background-color: #00000080;
  /* orig ongo ni #EE2F4D50;*/
    border-radius: unset;
  background-image: url("images/logo1.svg"), url("images/logo2.png");
  background-attachment: local, local;
  background-repeat: no-repeat, no-repeat;
  background-size: var(--logo-size-img) var(--logo-size-img), var(--logo-size-text) calc(var(--logo-size-text) * 0.9);
  background-position-x: var(--registration_padding), calc(var(--logo-size-img) + var(--registration_padding) *1.5);
  background-position-y: var(--registration_padding), calc(var(--registration_padding) / -1.5);
  opacity: 1;
  text-align: center;
  position: relative;
  left:0;
  top: 56vh;
  margin: var(--registration-margin-top) auto 0 auto;
  padding: var(--registration_padding);
  width: calc(var(--video-width));
  height: calc(44vh - var(--registration-margin-top) - var(--registration_padding) * 2);
  border-radius: 0 0 calc(var(--phone-video-height) / 15) calc(var(--phone-video-height) / 15);
  /* border:1px dashed green; */
  /* width: var(--video-width)-40vh; */
}


#registration[class="mobile"] {
  background-color: #000000BF;
  /* orig ongo ni #EE2F4D50;*/
  background-image: url("images/logo1.svg"), url("images/logo2.png");
  background-attachment: local, local;
  background-repeat: no-repeat, no-repeat;
  background-size: var(--logo-size-img-mobile) var(--logo-size-img-mobile), var(--logo-size-text-mobile) calc(var(--logo-size-text-mobile) * 0.9);
  background-position-x: var(--registration_padding_mobile), calc(var(--logo-size-img-mobile) + var(--registration_padding_mobile) *1.5);
  background-position-y: calc(var(--registration_padding_mobile) * 1.5 ), calc(var(--registration_padding_mobile) );
  opacity: 1;
  text-align: left;
  position: absolute;
  left:0;
  top:0;
  margin: 0;
  padding: calc(var(--registration_padding_mobile) * 3 ) var(--registration_padding_mobile);
  width: calc(100vw - var(--registration_padding_mobile) * 2);
  /* border:1px dashed green; */
  height: calc(100vh - var(--registration_padding_mobile) * 6);
  
}
#registration[class="mobile"] #initialDialog #text_Who{ display:none;}
#registration[class="mobile"] #initialDialog #text_Increase {display:block; padding-left:3vw; font-size:5.2vw;}
#registration[class="mobile"] #initialDialog #reqButtonWrap {text-align:center;}
#registration[class="mobile"] #initialDialog #text_bysign{font-size:5vw;}
#registration[class="mobile"] #dlg_accepted #accepteddownloadbuttons {
    text-align:center;
}
#registration[class="mobile"] #closeRegistration {float:right; display:block; position:relative; top: calc( var(--video-width) * -0.15 ); padding:0; cursor:hand;}
#registration[class="mobile"] #closeRegistration * {margin:0;}
#registration[class="mobile"] #dlg_accepted #accepteddownloadbuttons a {
    display: inline-block;
    border-radius: 14px;
    margin: 0 0 1vh 0;
    padding: 0 1vw;
    text-align: left;
    vertical-align: top;
    padding-top: 0vh;
    background-color: #0286C3;
    color: #FFFCFC;
    font-size: 3vh;
    height: 5vh;
    width: 40vw;
  }

#registration[class="mobile"] #dlg_accepted #accepteddownloadbuttons a img {width:3vh; height:3vh;margin-left:2vw;}
#registration[class="mobile"] #dlg_accepted #accepteddownload {text-align: center; font-size:3vh;}
#registration[class="mobile"] #dlg_accepted #congrat {font-size:5vh;}
#registration[class="mobile"] #dlg_accepted #acceptedmsg {font-size:3vh;}
#requestbutton0 {
  background-color: #FBB22E;
  color: #000;
  font-size: calc(var(--video-width) * 0.08);
  font-weight: 900;
  padding: 0 3vw;
  box-shadow: 0px 0px 6px;
  height: 4vh;

  margin: 0 auto;
  border-radius: 23px;
  border: 0;
}
#registration[class="mobile"] #initialDialog #requestbutton{text-align: center;}
#request_btn {text-align:center;}

#registration #requestbuttontext {
  position: relative;
  margin: 0;
  top: 0;
  font-family: "Kirsty regular";
}

#registration #initialDialog {
  display:none;
     
}

#registration #initialDialog[class="mobile"] {
  display:none;
  
}



#initialDialog .registration_col1 {
    width:100%;
    
}

#initialDialog .registration_col2 {
  width:100%;
}


#phonevideo {
height: 100vh;
/* width: 95vw; */
border-radius: calc(var(--phone-video-height) / 15);
/* border:2px solid green; */
}
  
#registration #initialDialog {
  display: none;
}

#phoneframe { padding:0;}
#phone {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}

#age,
    #country {
      border-radius: 2vh;
      box-sizing: border-box;
      line-height: 1.15;
      text-transform: none;
      -webkit-appearance: none;
      appearance: none;
      background: #818181BF 0% 0% no-repeat padding-box;
      border: 0;
      margin: 0;
      word-break: normal;
      z-index: 2;
      width: 100%;
      height: calc(var(--input-height-mobile) + 2vh);
      font-size: 5vw;
      padding: 1vh 0 1vh var(--input-padding-left-mobile);
    }

input {
  border-radius: 2vh;
  border: none;
  margin: 0;
  background: #818181BF 0% 0% no-repeat padding-box;
  color: #FFFCFCB2;
  opacity: 1;
  width: calc(100% - var(--input-padding-left-mobile));
  /* width: calc(var(--input-width-mobile) - var(--input-padding-left-mobile) - 3vw); */
  height: var(--input-height-mobile);
  font-size: 5vw;
  padding: 1vh 0 1vh var(--input-padding-left-mobile);
}


#you, #s, #v, #already, #slogan, #progressBack, #progress, #friend, #feel, #title, #v { 
  display:none;
}

#text_Who {
    width: unset;
    padding: 0 2.5vw;
    text-align: justify;
    font-size: 2.7vh;
    margin: 0;
  }

#initialDialogMobile {display:block; margin-top:0;text-align:left;}

#m_challenge { 
  margin:calc(var(--video-width) * -0.02) 0 0 calc(var(--video-width) * 0.27);
  font-size: calc(var(--video-width) * 0.085);
  font-variant-caps: all-petite-caps;
  font-family: 'Bangers', cursive;
  padding: 0;
  text-align: left;
  display:inline-block;
}
  
#m_feel {
  font-size: calc(var(--video-width) * 0.0571);
  margin-top:4vh; 
}
#m_createchal {font-family:"Asparagus Sprouts"; font-size: calc(var(--video-width) * 0.065); font-variant-caps: all-petite-caps;}

#storeimages {
  position: absolute;
  top: calc(10vh + 55vw + 6vh);
  left: 10vw;
  width: 50vw;
}

#appstore,
#playstore {
  display: block;
  margin: 0.5vh;
}



#countDownTimer {
position: relative;
top: 0;
margin: 5vh auto;
padding: 0.1vw;
border: 0.5vmax solid  #EE2F4D;
background-color: #0286C3;
width: 20vw;
height: 20vw;
border-radius: 12vw;
}

#registration #countDownNumber {
vertical-align:text-top;

font-size: 10vw;
margin: -1vw auto;

padding: 5vw 7vw;
color: #FFFCFC;
display: inline-block;
font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#countDownText {
margin: 2vh 3vw 14vh 2vw;
font-size: 6.5vw;
}