:root {
  --input-width: 14vw;
  --input-padding-left: 1vw;
  --input-height: 3.9vh;

  --phone-video-height:87.5vh;
  --back_blue: #0286C3BF;
  --back_red: #EE2F4DBF;
  --background-blue: #0286C3;
  --vid-height:1080;
  --vid-width:500;
  --video-ratio: 0.46;
  --video-width:calc(( 100vh * 0.44));
  --video-margin-sides: calc((100vw - var(--video-width)) / 2);
  --registration_padding: calc( var(--video-width) * 0.03 );
  --registration-margin-top: calc(100vh * 0.08);
  --logo-size-img: calc(var(--video-width) * 0.06);
  --logo-size-text: calc(var(--video-width) * 0.17);

  --registration_padding_mobile: calc( var(--video-width) * 0.1 );
  --logo-size-img-mobile: calc(var(--video-width) * 0.17);
  --logo-size-text-mobile: calc(var(--video-width) * 0.27);
  --input-width-mobile:calc(100vw - (2 * var(--registration_padding_mobile)));
  --input-padding-left-mobile: 2vw;
  --input-height-mobile: 3.9vh;  
}

@font-face {
  font-family: 'Kirsty Regular';
  font-style: normal;
  font-weight: bold;
  src: local('Kirsty Regular'), url('fonts/kirsty__.woff') format('woff');
}

@font-face {
  font-family: "Asparagus Sprouts";
  src: url("fonts/Asparagus_Sprouts.eot?") format("eot"),
    url("fonts/Asparagus_Sprouts.woff") format("woff"),
    url("fonts/Asparagus_Sprouts.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
}

html {
  font-size: 1.5vh;
}

body {
  /*background-image: url('images/diagonal.svg'); /*, url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAE4gAAAABCAIAAAC9c9PfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAHYcAAB2HAY/l8WUAAAAySURBVGhD7cJBEQAgCAAwzkIkoZbF7EMG3phhu8W5T1VVVVVVVdVvZ6mqqqqqqqq6Zg3oqXEb85utwQAAAABJRU5ErkJggg==");
        */
  background-image: linear-gradient(to right bottom, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%), linear-gradient(to right bottom, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%), linear-gradient(to right, #0286C3 0%, #0286C3 50%, #ee2f4D 50%, #ee2f4D 100%);
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-position: top 0 left 25vw, top 50vh left 50vw, center;
  background-size: 25vw 50vh, 25vw 50vh, 100% 100%;
  height: 100vh;
  color: white;
  text-shadow: 0 0.3vh 1vmin rgba(20, 20, 20, 0.3);
}

#phone {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 5vh;
}

#phoneframe {
  padding: 1vmin 0 5vmin 0;
  /*background-image:url("images/iphonex1.png");*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;
 /* filter: drop-shadow(0 3vmin 3vmin rgba(20, 20, 20, 0.5)); */
}

#phonevideo {
  height: var(--phone-video-height);
  /* width: 95vw; */
  border-radius: calc(var(--phone-video-height) / 15);
  /* border:2px solid green; */
}

.mainWrap {
  width: 100vw;

}

/*.mainWrap*/

#title {
  font-family: 'Bangers', cursive;
  font-size: 2.7rem;
  font-weight: lighter;
  margin: 1rem auto;
  width: auto;
  text-align: center;
}

#slogan,
#already,
#willget,
input,
#googleFormLinkButton,
#contacts,
select {
  font-family: "Asparagus Sprouts";
}

input,
select {
  color: #FFFCFCB2;
}

#slogan {
  text-align: center;
  font-size: 1.6vw;
  text-transform: uppercase;
}

#v,
#s {
  font-family: 'Kirsty Regular', cursive;
  position: absolute;
  text-transform: uppercase;
  font-size: 8vh;
}


#v,
#s,
#you,
#friend {
  position: absolute;
}

#v {
  top: 36vh;
  left: 32vw;
}

#s {
  top: 52vh;
  left: 65vw;
}

#you,
#friend {
  font-family: 'Kirsty Regular', cursive;
  font-size: 5vh;
  text-transform: uppercase;
}

#you {
  left: 13vw;
  top: 13vh;

}

#registration #useremail {

  background-color: var(--back_blue);
  margin-top: 0;
}

#registration #friendemail {
  background-color: var(--back_red);
  margin-top: 0;
}

#friend {
  left: 75vw;
  top: 75vh;
}

#already {
  font-size: 2rem;
  position: absolute;
  left: 70vw;
  top: 16vh;
  text-align: center;
}

#alreadyyou {
  border: 1px solid green;
  position: absolute;
  top: 15vh;
  width: 100vw;
  vertical-align: top;
}

#progressBack {
  height: 1vh;
  width: 25vw;
  background-color: white;
  border-radius: 1vh;
}

#progress {
  height: 1vh;
  width: 80%;
  background-color: #0286C3;
  border-radius: 1vh;
}

#feel {
  position: absolute;
  top: 51vh;
  left: 5vw;
  font-family: "Asparagus Sprouts";
  font-size: 3.2vh;
}

#registration {
  background-color: #00000080;
  /* orig ongo ni #EE2F4D50;*/
  background-image: url("images/logo1.svg"), url("images/logo2.png");
  background-attachment: local, local;
  background-repeat: no-repeat, no-repeat;
  background-size: 2.9vw 2.9vw, 4.64vw 3.9vw;
  background-position-x: 2vw, 5.5vw;
  background-position-y: 1.6vw, 1vw;
  border-radius: 2vw;
  opacity: 1;
  text-align: center;
  position: absolute;
  top: 55vh;
  left: 2vw;
  padding: 0;
  width: 32.2vw;
}

.registration_col1,
.registration_col2 {
  width: 14vw;
  display: inline-block;
  vertical-align: top;
  margin: 0 1vw;
}

input {
  /* text-align: center; */
  border-radius: 14px;
  border: none;
  padding: 0 0 0 var(--input-padding-left);
  margin: 0;
  background: #818181BF 0% 0% no-repeat padding-box;
  color: #FFFCFCB2;
  opacity: 1;
  width: calc(var(--input-width) - var(--input-padding-left));
  height: var(--input-height);
  font-size: 3vh;

}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FFFCFCB2;
  opacity: 1;
  /* Firefox */
}

#disa {
  -webkit-appearance: none;
}

input[type="submit"],
input:disabled {
  margin: 1vh auto;
  padding: 1vh 4vw;
  border-radius: 1.5rem;
  border: none;
  display: block;
  background: #ee2f4D !important;
  color: white;
  filter: drop-shadow(0 1vh 1vmin rgba(20, 20, 20, 0.2));
  -webkit-appearance: none;

}

#registration * {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-family: "Asparagus Sprouts";
}

#storeimages {
  position: absolute;
  top: 83vh;
  text-align: center;
  width: 100%;
}

#contacts {
  position: absolute;
  top: 95vh;
  text-align: center;
  width: 100%;
  display:none;
}

a {
  text-decoration: none;
  color: white;
}

#willget,
input {
  font-size: 1.5rem;
}

#fullname {
  margin: 1.8vh 0 2.3vh 0;
}

#age,
#country {
  border-radius: 14px;
  box-sizing: border-box;
  line-height: 1.15;
  -webkit-appearance: none;
  appearance: none;
  background: #818181BF 0% 0% no-repeat padding-box;
  border: 0;
  margin: 1vh 0 1vh 0;
  padding: 0 0 0 var(--input-padding-left);
  width: var(--input-width);
  height: var(--input-height);
  word-break: normal;
  font-size: 2vh;
}

#age {
  margin: 0;
}

#logo1 {
  height: 2.9vw;
  width: 2.9vw;
  vertical-align: top;
  margin: 0;
}

#logo2 {
  height: 3.9vw;
  width: 4.64vw;
  vertical-align: top;
  margin: 0 0 0 0.5vw;
  position: relative;
  top: -1vh;
}

#logo_images {
  text-align: left;
  height: 5vh;
}

#text_Who {
  width: 28vw;
  padding: 0 2.5vw;
  text-align: justify;
  font-size: 2.7vh;
  margin: 0;
}

#text_Increase {display:none;}
#emails {
  margin: 0;
}

#requestbutton {
  background-color: #FBB22E;
  color: #000;

  font-size: 3.5vh;
  font-weight: 900;
  padding: 0 3vh;
  box-shadow: 0px 0px 6px;
  height: 4vh;

  margin: 0 auto;
  border-radius: 23px;
  border: 0;
}

#registration #requestbuttontext {
  position: relative;
  margin: 0;
  top: -1.5vh;
  font-family: "Kirsty regular";
}

#text_bysign {
  margin-top: 3vh;

}

/* #countdown */
#initialDialog {
  color: unset;
}

#initialDialogMobile{display:none;}

#dlg_countDown {
  margin-top: 8vh;
  display: none;
}

#dlg_accepted {
  display: none;
}

#dlg_rejected {
  display: none;
}

#countDownTimer {
  position: relative;
  top: 0;
  margin: 8vh auto 0;
  padding: 0.1vw;
  border: 0.6vh solid  #EE2F4D;
  background-color: #0286C3;
  width: 8vh;
  height: 8vh;
  border-radius: 12vh;
}

#registration #countDownNumber {
  vertical-align: baseline;

  font-size: 4vh;
  margin: 1vw;

  padding: 0;
  color: #FFFCFC;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#countDownText {
  margin: 2vh 3vw 14vh 2vw;
  font-size: 2.8vh;
}

#congrat,
#rejected {
  font-size: 4vh;
}

#acceptedmsg {
  margin: 1vw;
  font-size: 2.7vh;
}

#rejectedmsg {
  margin: 2vw 2vw 8vw 2vw;
  font-size: 2.8vh;
  text-align: left;
}

#accepteddownload {
  font-size: 2.5vh;
}

#accepteddownloadbuttons {
  margin: 0 2vw 10vh 2vw;
}

#accepteddownloadbuttons a {
  display: inline-block;
  border-radius: 14px;
  margin: 0 1vw;
  padding: 0 1vw;
  text-align: left;
  vertical-align: top;
  padding-top: 0vh;
  background-color: #0286C3;
  color: #FFFCFC;
  font-size: 3vh;
  height: 5vh;
  width: 9vw;
}

#registration a div {
  display: inline-block;
  vertical-align: top;
  width: 5vw;
  margin: 1vh;
}

#closeRegistration {
display:none;
}
/* @media only screen 
    and (min-device-width : 414px)
    and (max-device-width : 736px)
    and (width : 414px)
    and (height : 736px)
    and (orientation : portrait) 
    and (device-aspect-ratio : 414/736)
    and (aspect-ratio : 414/736)
    and (device-pixel-ratio : 3)
    and (-webkit-min-device-pixel-ratio : 3)
    { body {background-color: white;}} */


